In [12]:
import os
from dotenv import load_dotenv
import pandas as pd
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
from langchain.agents import Tool

In [13]:
# Load environment variables from .env file
load_dotenv()

# Get the OpenAI API key
openai_api_key = os.getenv("OPENAI_API_KEY")

In [14]:
# Initialize the OpenAI model
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0.2, max_tokens=1024, n=1)

In [15]:
# Read hdb resale file in csv format
df = pd.read_csv('./data/hdb_2024.csv')

df['tranc_year_month'] =pd.to_datetime(df['tranc_year_month'], format='%Y-%m')

In [16]:
# Create the agent with allow_dangerous_code=True
pd_agent = create_pandas_dataframe_agent(
                                        llm, 
                                        df, 
                                        verbose=True, 
                                        allow_dangerous_code=True, 
                                        agent_type=AgentType.OPENAI_FUNCTIONS,
                                        return_intermediate_steps=True, 
                                        max_iterations=20
                                    )

In [17]:
# Create the tool
pd_tool = Tool(
	name="Manipulate and Analyze tabular data with Code",
	func=pd_agent.invoke, # <-- This is the function that will be called when the tool is run. Note that there is no `()` at the end
	description="Useful for search-based queries",
)

In [18]:
#test pd tool
# 
prompt ="Max resale price of flat in clementi by flat type"

response = pd_tool.func(prompt)

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "max_resale_price_clementi = df[df['town'] == 'CLEMENTI'].groupby('flat_type')['resale_price'].max() \nmax_resale_price_clementi"}`


flat_type
3 ROOM        820000.0
4 ROOM        993000.0
5 ROOM       1258000.0
EXECUTIVE    1068888.0
Name: resale_price, dtype: float64The maximum resale prices of flats in Clementi by flat type are as follows:

- 3 ROOM: 820,000
- 4 ROOM: 993,000
- 5 ROOM: 1,258,000
- EXECUTIVE: 1,068,888

> Finished chain.

In [7]:
def askHDBpanda(prompt):
    response = pd_agent.invoke(prompt)
    return response

In [22]:
my_dict = {
    "input": "What is max resale price for 5-room flats in Clementi?",
    "output": "The maximum resale price for 5-room flats in Clementi is $1,258,000.",
    "intermediate_steps": [...]
}

# Print the keys
print(my_dict.keys())

dict_keys(['input', 'output', 'intermediate_steps'])

In [28]:
response['output']

'The maximum resale price of a flat in Clementi is 1,258,000.'

In [19]:
import os
from dotenv import load_dotenv
import pandas as pd
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
from langchain.agents import Tool

# Load environment variables from .env file
load_dotenv()

# Get the OpenAI API key
openai_api_key = os.getenv("OPENAI_API_KEY")

# Initialize the OpenAI model
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0, max_tokens=1024, n=1)

# Read HDB resale file in CSV format
df = pd.read_csv('./data/hdb_2024.csv')
df['tranc_year_month'] = pd.to_datetime(df['tranc_year_month'], format='%Y-%m')
def create_pd_agent(llm, df):
    """Create a pandas dataframe agent."""
    return create_pandas_dataframe_agent(
        llm=llm,
        df=df,
        verbose=True,
        allow_dangerous_code=True,
        agent_type=AgentType.OPENAI_FUNCTIONS,
        return_intermediate_steps=True,
        max_iterations=20
    )

def ask_pd_agent(agent, prompt):
    """Invoke the pandas dataframe agent with a prompt."""
    try:
        response = agent.invoke(prompt)
        return response
    except Exception as e:
        return f"An error occurred: {e}"

# Create the agent
pd_agent = create_pd_agent(llm, df)

# Define the user prompt
user_prompt = "Provide summary statistics of the HDB resale dataset."

# Invoke the agent with the user prompt
response = ask_pd_agent(pd_agent, user_prompt)
print(response)

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df.describe(include='all')"}`


                     tranc_year_month       town flat_type block  \
count                            4744       4744      4744  4744
unique                            NaN         26         6  1767
top                               NaN  WOODLANDS    4 ROOM     5
freq                              NaN        366      2060    14
mean    2024-01-14 20:56:57.875210752        NaN       NaN   NaN
min               2024-01-01 00:00:00        NaN       NaN   NaN
25%               2024-01-01 00:00:00        NaN       NaN   NaN
50%               2024-01-01 00:00:00        NaN       NaN   NaN
75%               2024-02-01 00:00:00        NaN       NaN   NaN
max               2024-02-01 00:00:00        NaN       NaN   NaN
std                               NaN        NaN       NaN   NaN

           street_name storey_range  floor_area_sqm flat_model  \
count             4744         4744     4744.000000       4744
unique             507           15             NaN         19
top     YISHUN RING RD     04 TO 06             NaN    Model A
freq                67         1134             NaN       1941
mean               NaN          NaN       95.557146        NaN
min                NaN          NaN       37.000000        NaN
25%                NaN          NaN       74.000000        NaN
50%                NaN          NaN       93.000000        NaN
75%                NaN          NaN      112.000000        NaN
max                NaN          NaN      208.000000        NaN
std                NaN          NaN       23.976814        NaN

        lease_commence_date  resale_price    postal_code     latitude  \
count           4744.000000  4.744000e+03    4744.000000  4744.000000
unique                  NaN           NaN            NaN          NaN
top                     NaN           NaN            NaN          NaN
freq                    NaN           NaN            NaN          NaN
mean            1998.482293  5.887921e+05  576333.661678     1.371037
min             1966.000000  2.400000e+05   50034.000000     1.270919
25%             1985.000000  4.600000e+05  520297.000000     1.341737
50%             1998.000000  5.680000e+05  600304.500000     1.369392
75%             2015.000000  6.870000e+05  730651.000000     1.400745
max             2020.000000  1.568888e+06  824684.000000     1.457071
std               15.079958  1.800298e+05  183851.531825     0.042909

          longitude
count   4744.000000
unique          NaN
top             NaN
freq            NaN
mean     103.837140
min      103.685234
25%      103.773239
50%      103.843557
75%      103.897607
max      103.986846
std        0.072474  Here are the summary statistics of the HDB resale dataset:

### Summary Statistics

- **tranc_year_month**:
  - Count: 4744
  - Unique: 4
  - Top: WOODLANDS
  - Frequency: 366

- **town**:
  - Count: 4744
  - Unique: 26
  - Top: WOODLANDS
  - Frequency: 366

- **flat_type**:
  - Count: 4744
  - Unique: 6
  - Top: 4 ROOM
  - Frequency: 2060

- **block**:
  - Count: 4744
  - Unique: 1767
  - Top: 5
  - Frequency: 14

- **street_name**:
  - Count: 4744
  - Unique: 507
  - Top: YISHUN RING RD
  - Frequency: 67

- **storey_range**:
  - Count: 4744
  - Unique: 15
  - Top: 04 TO 06
  - Frequency: 1134

- **floor_area_sqm**:
  - Count: 4744
  - Mean: 95.56
  - Min: 37.00
  - 25%: 74.00
  - 50%: 93.00
  - 75%: 112.00
  - Max: 208.00
  - Std: 23.98

- **flat_model**:
  - Count: 4744
  - Unique: 19
  - Top: Model A
  - Frequency: 1941

- **lease_commence_date**:
  - Count: 4744
  - Mean: 1998.48
  - Min: 1966
  - 25%: 1985
  - 50%: 1998
  - 75%: 2015
  - Max: 2020
  - Std: 15.08

- **resale_price**:
  - Count: 4744
  - Mean: 588792.1
  - Min: 240000
  - 25%: 460000
  - 50%: 568000
  - 75%: 687000
  - Max: 1568888
  - Std: 180029.8

- **postal_code**:
  - Count: 4744
  - Mean: 576333.66
  - Min: 50034
  - 25%: 520297
  - 50%: 600304.5
  - 75%: 730651
  - Max: 824684
  - Std: 183851.53

- **latitude**:
  - Count: 4744
  - Mean: 1.371
  - Min: 1.2709
  - 25%: 1.3417
  - 50%: 1.3694
  - 75%: 1.4007
  - Max: 1.4571
  - Std: 0.0429

- **longitude**:
  - Count: 4744
  - Mean: 103.837
  - Min: 103.685
  - 25%: 103.773
  - 50%: 103.844
  - 75%: 103.898
  - Max: 103.987
  - Std: 0.0725

This summary provides insights into the distribution and central tendencies of the various features in the dataset.

> Finished chain.
{'input': 'Provide summary statistics of the HDB resale dataset.', 'output': 'Here are the summary statistics of the HDB resale dataset:\n\n### Summary Statistics\n\n- **tranc_year_month**:\n  - Count: 4744\n  - Unique: 4\n  - Top: WOODLANDS\n  - Frequency: 366\n\n- **town**:\n  - Count: 4744\n  - Unique: 26\n  - Top: WOODLANDS\n  - Frequency: 366\n\n- **flat_type**:\n  - Count: 4744\n  - Unique: 6\n  - Top: 4 ROOM\n  - Frequency: 2060\n\n- **block**:\n  - Count: 4744\n  - Unique: 1767\n  - Top: 5\n  - Frequency: 14\n\n- **street_name**:\n  - Count: 4744\n  - Unique: 507\n  - Top: YISHUN RING RD\n  - Frequency: 67\n\n- **storey_range**:\n  - Count: 4744\n  - Unique: 15\n  - Top: 04 TO 06\n  - Frequency: 1134\n\n- **floor_area_sqm**:\n  - Count: 4744\n  - Mean: 95.56\n  - Min: 37.00\n  - 25%: 74.00\n  - 50%: 93.00\n  - 75%: 112.00\n  - Max: 208.00\n  - Std: 23.98\n\n- **flat_model**:\n  - Count: 4744\n  - Unique: 19\n  - Top: Model A\n  - Frequency: 1941\n\n- **lease_commence_date**:\n  - Count: 4744\n  - Mean: 1998.48\n  - Min: 1966\n  - 25%: 1985\n  - 50%: 1998\n  - 75%: 2015\n  - Max: 2020\n  - Std: 15.08\n\n- **resale_price**:\n  - Count: 4744\n  - Mean: 588792.1\n  - Min: 240000\n  - 25%: 460000\n  - 50%: 568000\n  - 75%: 687000\n  - Max: 1568888\n  - Std: 180029.8\n\n- **postal_code**:\n  - Count: 4744\n  - Mean: 576333.66\n  - Min: 50034\n  - 25%: 520297\n  - 50%: 600304.5\n  - 75%: 730651\n  - Max: 824684\n  - Std: 183851.53\n\n- **latitude**:\n  - Count: 4744\n  - Mean: 1.371\n  - Min: 1.2709\n  - 25%: 1.3417\n  - 50%: 1.3694\n  - 75%: 1.4007\n  - Max: 1.4571\n  - Std: 0.0429\n\n- **longitude**:\n  - Count: 4744\n  - Mean: 103.837\n  - Min: 103.685\n  - 25%: 103.773\n  - 50%: 103.844\n  - 75%: 103.898\n  - Max: 103.987\n  - Std: 0.0725\n\nThis summary provides insights into the distribution and central tendencies of the various features in the dataset.', 'intermediate_steps': [(AgentActionMessageLog(tool='python_repl_ast', tool_input={'query': "df.describe(include='all')"}, log='\nInvoking: `python_repl_ast` with `{\'query\': "df.describe(include=\'all\')"}`\n\n\n', message_log=[AIMessageChunk(content='', additional_kwargs={'function_call': {'arguments': '{"query":"df.describe(include=\'all\')"}', 'name': 'python_repl_ast'}}, response_metadata={'finish_reason': 'function_call', 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_f85bea6784'}, id='run-345f984a-6b8d-4d20-ba1c-d9622649934d')]),                      tranc_year_month       town flat_type block  \
count                            4744       4744      4744  4744
unique                            NaN         26         6  1767
top                               NaN  WOODLANDS    4 ROOM     5
freq                              NaN        366      2060    14
mean    2024-01-14 20:56:57.875210752        NaN       NaN   NaN
min               2024-01-01 00:00:00        NaN       NaN   NaN
25%               2024-01-01 00:00:00        NaN       NaN   NaN
50%               2024-01-01 00:00:00        NaN       NaN   NaN
75%               2024-02-01 00:00:00        NaN       NaN   NaN
max               2024-02-01 00:00:00        NaN       NaN   NaN
std                               NaN        NaN       NaN   NaN

           street_name storey_range  floor_area_sqm flat_model  \
count             4744         4744     4744.000000       4744
unique             507           15             NaN         19
top     YISHUN RING RD     04 TO 06             NaN    Model A
freq                67         1134             NaN       1941
mean               NaN          NaN       95.557146        NaN
min                NaN          NaN       37.000000        NaN
25%                NaN          NaN       74.000000        NaN
50%                NaN          NaN       93.000000        NaN
75%                NaN          NaN      112.000000        NaN
max                NaN          NaN      208.000000        NaN
std                NaN          NaN       23.976814        NaN

        lease_commence_date  resale_price    postal_code     latitude  \
count           4744.000000  4.744000e+03    4744.000000  4744.000000
unique                  NaN           NaN            NaN          NaN
top                     NaN           NaN            NaN          NaN
freq                    NaN           NaN            NaN          NaN
mean            1998.482293  5.887921e+05  576333.661678     1.371037
min             1966.000000  2.400000e+05   50034.000000     1.270919
25%             1985.000000  4.600000e+05  520297.000000     1.341737
50%             1998.000000  5.680000e+05  600304.500000     1.369392
75%             2015.000000  6.870000e+05  730651.000000     1.400745
max             2020.000000  1.568888e+06  824684.000000     1.457071
std               15.079958  1.800298e+05  183851.531825     0.042909

          longitude
count   4744.000000
unique          NaN
top             NaN
freq            NaN
mean     103.837140
min      103.685234
25%      103.773239
50%      103.843557
75%      103.897607
max      103.986846
std        0.072474  )]}

In [20]:
import os
from dotenv import load_dotenv
import pandas as pd
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
from pydantic.v1 import BaseModel
from langchain_experimental.tools.python.tool import PythonAstREPLTool, PythonREPLTool
from langchain.agents import Tool

# Load environment variables from .env file
load_dotenv()

# Get the OpenAI API key
openai_api_key = os.getenv("OPENAI_API_KEY")

In [ ]:
def execute_code():
    code = """\
    df = pd.read_csv('./data/hdb_2024.csv')
    df['tranc_year_month'] = pd.to_datetime(df['tranc_year_month'], format='%Y-%m')

    median_resale_price_5_room_clementi = df[(df['flat_type'] == '5 ROOM') & (df['town'] == 'CLEMENTI')]['resale_price'].median()
    """

    # Create an empty dictionary for the globals
    exec_globals = {}

    # Execute the code in the empty dictionary
    exec(code, exec_globals)

    # Return the result from the dictionary
    return exec_globals[user_prompt]

# Call function
median_resale_price_5_room_clementi = execute_code()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/hdb_2024.csv')

# Group by 'Postal', 'Latitude', 'Longitude', 'flat_type', and 'town' and count the number of rows
grouped_df = df.groupby(['postal_code', 'latitude', 'longitude', 'flat_type', 'town']).size().reset_index(name='count')

grouped_df.columns

Index(['postal_code', 'latitude', 'longitude', 'flat_type', 'town', 'count'], dtype='object')

In [4]:
grouped_df.head()

   postal_code  latitude   longitude flat_type          town  count
0        50034  1.286235  103.842303    3 ROOM  CENTRAL AREA      2
1        50532  1.284194  103.845986    3 ROOM  CENTRAL AREA      1
2        51335  1.282116  103.842846    3 ROOM  CENTRAL AREA      2
3        80003  1.277217  103.838704    5 ROOM   BUKIT MERAH      2
4        80005  1.276684  103.839459    5 ROOM   BUKIT MERAH      1